
.classroom-text {
    font-family: Open Sans;
    font-size: 22.1px;
    color: #5F6368;
    font-weight: lighter;
}

.tareas-pendientes-text {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 900;
    color: #2196f3;
}

.navText {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 900;
    color: #5F6368;
}

.navTextHoover {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 900;
    color: #1565c0;
}

.text-title-class {
    color: #FFFF;
    font-size: 22px;
}

.text-maestro-class {
    font-family: 13px;
}

.login-text {
    color: #202124;
    font-size: 24px;
    font-family: Open Sans;
}

.nombre-user{
    font-family: Open Sans;
    font-size: 15px;
}

.nombre-user2{
    font-family: Open Sans;
    font-size: 13px;
}

.unirme-text {
    font-family: Open Sans;
    font-size: 15px;
    color: white;
}

.crear-clase{
    font-family: Open Sans;
    color: #5F6368;
    font-size: 18px;
    font-weight: 600;
}

.title-class {
    color: #FFFF;
    font-size: 36px;
    padding: 0px 32px 0px 0px;
}

.codeText{
    color: #B80672;
    font-size: 22px;
    font-weight: bolder;
    font-family: Open Sans;
}

.claseCodeText {
    color: #3C4043;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: bolder;
}

.tarea-text{
    font-size: 14px;
    font-family: Open Sans;
    color: #3C4043;
    font-weight: bold;
}

.tarea-text2{
    font-size: 13px;
    font-family: Open Sans;
    color: #3C4043;
}

.TextField-without-border-radius fieldset {
    border-radius: 50px;
  }

.alumnosText{
    color: #c26401;
    font-size: 32px;
    font-family: Open Sans;
}

.textComment {
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 900;
    color: #3c4043;
}