@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

.classroom-text {
    font-family: Product Sans;
    font-size: 22.1px;
    color: #5F6368;
}

.tareas-pendientes-text {
    font-family: Product Sans;
    font-size: 15px;
    font-weight: 900;
    color: #2196f3;
}

.navText {
    font-family: Product Sans;
    font-size: 15px;
    font-weight: 900;
    color: #5F6368;
}

.navTextHoover {
    font-family: Product Sans;
    font-size: 15px;
    font-weight: 900;
    color: #1565c0;
}

.text-title-class {
    color: #FFFF;
    font-size: 22px;
}

.text-maestro-class {
    font-family: 13px;
}

.login-text {
    color: #202124;
    font-size: 24px;
    font-family: Product Sans;
}

.nombre-user{
    font-family: Product Sans;
    font-size: 15px;
}

.unirme-text {
    font-family: Product Sans;
    font-size: 15px;
    color: white;
}

.crear-clase{
    font-family: Product Sans;
    color: #5F6368;
    font-size: 18px;
    font-weight: 600;
}

.title-class {
    color: #FFFF;
    font-size: 36px;
    padding: 0px 32px 0px 0px;
}