@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

.classroom-text {
    font-family: Product Sans;
    font-size: 22.1px;
    color: #5F6368;
}

.tareas-pendientes-text {
    font-family: Product Sans;
    font-size: 15px;
    font-weight: 900;
    color: #2196f3;
}

.text-title-class {
    color: #FFFF;
    font-size: 22px;
}

.text-maestro-class {
    font-family: 13px;
}